<table class="primary">
	<thead>
		<tr>
		  <th>Name</th>
		  <th>{{model.length}}</th> 
		</tr>
	</thead>
	<tbody>
		{{#each emp in model}}
			<tr>
				<td>{{emp.name}}</td>
				<td>test</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<br />
